MONGO_URI=mongodb://localhost:27017
MONGO_DB=bsdspoty
MONGO_COLLECTION=canciones

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=hachi2603

LOTE_SIZE=1000

CAMPO_NOMBRE_CANCION=track_name
CAMPO_GENERO=track_genre
CAMPO_POPULARIDAD=popularity
CAMPO_ENERGIA=energy
CAMPO_BAILABILIDAD=danceability
CAMPO_TEMPO=tempo
CAMPO_VALENCIA=valence

ETIQUETA_USUARIO=Usuario
ETIQUETA_CANCION=Cancion
RELACION_AGREGO_PLAYLIST=AGREGO_A_PLAYLIST
PROP_ID_USUARIO=id
PROP_NOMBRE=nombre
PROP_ARTISTA=artista
PROP_PLAYLIST=playlist

ATRIBUTOS_AUDIO=energy,danceability,tempo,valence
