# Entornos virtuales
venv/
env/

# Configuracion local
.env

# Archivos de bases de datos pesados (Se suben a Drive)
*.csv

# Docker
*.yml

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos del sistema operativo
.DS_Store
